anyio==3.6.1 
apscheduler
backports-zoneinfo==0.2.1;python_version<"3.9"
cachetools==5.2.0 
certifi==2023.7.22 
cffi==1.15.1 
cryptography==41.0.2 
h11==0.12.0 
httpcore==0.15.0 
httpx==0.23.0 
idna==3.3 
levenshtein==0.20.7 
pycparser==2.21 
python-levenshtein==0.20.7 
python-telegram-bot==20.0a2 
pytz-deprecation-shim==0.1.0.post0 
pytz==2022.2.1 
rapidfuzz==2.11.1 
rfc3986[idna2008]==1.5.0 
setuptools==65.5.1 
six==1.16.0 
sniffio==1.2.0 
thefuzz[speedup]==0.19.0 
tornado==6.2 
tzdata==2022.2 
tzlocal==4.2 
